extends ./layout/index

block content
    main.container.mt-5
        h1.text-center.mt-5 #{title}
        blockquote.text-center Read what our clients say about us

        include ./partials/testimonials_block

        div.row

            div.col-md-12
                h2.d-block.w-100.text-center Add a testimonial

                if errors
                    each error in errors
                        div.alert.alert-danger.col.text-center #{error.message}

            div.row.justify-content-center.col
                div.col-md-8
                    form(action="/testimonials" method="post")
                        div.form-group
                            label(for="nombre") Name
                            input#nombre.form-control(type="text" name="nombre" placeholder="Name", value=nombre)
                        div.form-group
                            label(for="email") Email
                            input#email.form-control(type="email" name="email" placeholder="Email", value=email)
                        div.form-group
                            label(for="mensaje") Message
                            textarea#mensaje.form-control(name="mensaje" rows="3" placeholder="Message") #{mensaje}
                        input.btn.btn-success.btn-block(type="submit" value="Send")